.background {
  background-color: rgb(36, 36, 36); /*dark gray*/
  padding: 20px;
  border: 5px solid black;
}

.heading {
  padding: 20px;
  border: 5px solid black;
}

.body {
  padding: 20px;
  border: 5px solid black;
}

h1 {
  color: purple;
}
